body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #282C32;
}

header {
    background-color: #278bff;
    color: #fff;
    text-align: left;
    padding-top: 0.3125rem;
    font-size: 7px;
    padding-bottom: 2px;
    padding-right: 2px;
}
.logo-image{
    width: 160px;
    padding-left: 4px;
margin-left: 0.625rem;
    height: 3.125rem;
    border-radius: 0%;
    overflow: hidden;

}


.hero {
    background-image: url('hero-background.jpg');
    background-size: cover;
    text-align: center;
    padding: 0.3125rem 0;
    color: #000;
}
.hero .waviy {
    position: relative;
  }
.hero .waviy span {
    position:relative;
    display: inline-block;
    font-size: 1.5625rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #020202;
    text-transform: uppercase;
    animation: flip 2s infinite;
    animation-delay: calc(.2s * var(--i))
  }
  @keyframes flip {
    0%,80% {
      transform: rotateY(360deg) 
    }
  }
h1{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1.25rem;
}


.nav-link:hover {
    background-color:#aacef7;
    color: #fff;
    border-radius: 0.9375rem;
}
.card {
    background-color: #fff;
    border-radius: 0.3125rem;
    padding: 0.625rem;
    margin: 0.625rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Add media queries for responsiveness */
@media (max-width: 768px) {
    .card {
        width: 100%;
        margin: 0.625rem 0;
        padding: 0.313rem;
        margin: auto;
    }
}

.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

.cards :hover {
    background-color: #278bff;
    border-radius: 0.3125rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: 0.5s ease-in;
}

/* .card :hover{
 
    background-color: #fff;
    border-radius: 0.3125rem;

    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: 0.3s ease-in;
} */

.typewriter P {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
     /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin:  auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */




footer {
    text-align: center;
    background-color: #278bff;
    color: #fff;
    padding: 0.3125rem;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
}
.copy{
    align-items: center;
}

.list-group {
    display:-webkit-inline-box; /* Use flexbox to align items horizontally */
    justify-content: center; 
    width: 50.3125rem;/* Center items horizontally */
    display:table-row;
    

  }

  .list-group-item {
    display: table-row;
    margin: 8%; 
    padding: 10.3125rem;
    border-color: #f1f1f1;
    padding-right: 25vh;/* Remove any default margin */
    align-items: center; /* Center the content within each list item */
    flex: 1; /* Distribute available space equally among list items */
  }

.text-bg-dark {
    width:22rem;
    height: 20rem;
   display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    }
    .text-bg-dark:hover{
       
        background-color:#71e6f300;
        color: #000000;
        border-radius: 0rem;
        transition: cubic-bezier(0.165, 0.84, 0.44, 1);
    }

    .btn-down:hover {
        background-color: #2585f3;
        color: #ffffff;
        border-radius: 0.9375rem;
        transition: cubic-bezier(0.165, 0.84, 0.44, 1);
    }

   